html,body{
    height:100%;
    width: 100%;
}

#navbar{
    background-color: #087830;
}

#search-form{
    padding: 25px;
    font-size: 20px;
}

#search-button{
    background-color: #087830;
    color: white;
}

#home{
    background: url('/static/users/img/library.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width:100%;
    background-size: cover;
}

.landing-text{
    display:table-cell;
    text-align:center;
    vertical-align: middle;
}

#landing-title, #landing-parag{
    color:white;
    text-shadow: 2px 2px #3D4A3E;
}

.container{
    padding: 30px 0;
}

#second-title{
    padding-bottom: 30px;
}

#footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #087830;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

#btn-explore-recent, #btn-explore-searched, #btn-explore-trending{
    background-color:#087830;
    color: white;
}

#annotationButton {
    font-size: 1.17em;
    align-self: flex-end;
}