#navbar{
    background-color: #087830;
}

#search-form{
    padding: 25px;
    font-size: 20px;
}

#search-button{
    background-color: #087830;
    color: white;
}

tr[data-href]{
    cursor: pointer;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
