{% extends 'registration/site.html' %}
{% if request.session.email %}
{{request.session.email}} &nbsp;&nbsp; <a href="{% url 'logout' %}">Logout</a>
{% else %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Corpus Management System</h1>
                  <p id="header-paragraph">Home</p>
                  <a class="btn" href="{% url 'register' %}" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Register</a>
                  <a class="btn" href="{% url 'login' %}" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Login</a>
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
              </div>
    </div>
{% endblock content %}