{% load static %}
<!DOCTYPE html>
<html lang="en">
{% if request.session.email %}
  <body>
  <p>You are already logged in. Click here to go to <a href="{% url 'home' %}">home page</a>.</p>
  </body>
{% else %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '\users\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\fonts\ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\home.css' %}">
    <link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
</head>

<body>
        <!-- Navbar on top -->
        <nav class="navbar navbar-light navbar-expand navigation-clean" style="background: #087830;">
          <div class="container"><a class="navbar-brand" href="{% url 'index' %}">Brand</a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"></button>
              <div id="navcol-1" class="collapse navbar-collapse">
                  <!--
                  <a class="btn btn-success ms-auto" type="button" href="{% url 'login' %}" style="margin-right: 15px; color: white;">Login</a>
                  <a class="btn btn-success" type="button" href="{% url 'register' %}" style="color: white;">Signup</a></div>
                  -->
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" style="color:white">Login</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'register' %}" style="color:white">Sign Up</a></li>
                  </ul>
          </div>
      </nav>
    <section class="login-clean">
        <form method="post">
            {% csrf_token %}
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div><a class="forgot" href="{% url 'register' %}">Don't have an account?</a>
        </form>
    </section>
    <script src="static\users\js\bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static '\users\js\home.js' %}"></script>
</body>
{% endif %}
</html>