
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <link rel="stylesheet" href="{% static '\users\css\home.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
        
<head>
    <title>Register</title>
</head>
<body>

    <nav class="navbar navbar-light navbar-expand navigation-clean" style="background: #087830;">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'index' %}" style="color:white;">
            {% load static %}
            <img src="{% static '\users\img\dlsu.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right: 10px;">DLSU Corpus Management System</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" style="color:white">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}" style="color:white">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="login-clean">
        <section class="register-photo">
            <div class="form-container">
                <div class="image-holder"></div>
                <form method="post">
                    {% csrf_token %}
                    <h2 class="text-center"><strong>Create</strong> an account.</h2>
                    <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="First Name" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Last Name" required></div>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
                    <div class="form-group"><input class="form-control" type="password" name="repwd" placeholder="Password (repeat)" required></div>
                    <label for="adric">Choose a role:</label>
                    <select name="adric" id="adric">
                        <optgroup label="Student">
                            <option value="Student">Student</option>
                        </optgroup>
                        <optgroup label="AdRiC Laboratories">
                            <option value="Center for Automation Research">Center for Automation Research</option>
                            <option value="Center for Complexity and Emerging Technologies">Center for Complexity and Emerging Technologies</option>
                            <option value="Center for ICT for Development">Center for ICT for Development</option>
                            <option value="Center for Language Technologies">Center for Language Technologies</option>
                            <option value="Center for Human-Computing Innovations">Center for Human-Computing Innovations</option>
                            <option value="Center for Networking and Information Security">Center for Networking and Information Security</option>
                            <option value="Game Development Laboratory">Game Development Laboratory</option>
                            <option value="Technology, Education, Entertainment, Empathy, Design House">Technology, Education, Entertainment, Empathy, Design House</option>
                            <option value="Bioinformatics Lab">Bioinformatics Lab</option>
                        </optgroup>
                    </select>
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="form-group"><input class="btn btn-primary btn-block" type="submit" value="Sign Up"></input></div><a class="already" href="{% url 'login' %}">Already have an account? Login here.</a>
                </form>
            </div>
        </section>
    </section>
    <script src="static\users\js\jquery.min.js"></script>
    <script src="static\users\js\bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static '\users\js\home.js' %}"></script>
</body>
{% endblock content %}