{% load static %}
{% block content %}
<!doctype html>
<head>
    <title>Register</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Corpus Management System</h1>
                  <p id="header-paragraph">Home</p>
                  <a class="btn" href="{% url 'register' %}" style="color: green; background-color: #fd5e14;"type="submit" id="body-link-row">Register</a>
                  <a class="btn" href="{% url 'login' %}" style="color: green; background-color: #fd5e14;"type="submit" id="body-link-row">Login</a>
                  <br>
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
              </div>
    </div>
    <h1>Register Account</h1>
    <h4>Account</h4>
    <hr/>
    <form method="POST">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>Username</td>
            <td><input type="text" placeholder="Enter Username" name="username" required/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" placeholder="Enter Email" name="email" required/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" placeholder="Enter Password" required onchange="form.repwd.pattern=this.value" name="password"/></td>
        </tr>
        <tr>
            <td>Re-Password</td>
            <td><input type="password" placeholder="Confirm Password" name="repwd" pattern="" required/></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" placeholder="Enter First Name" name="first_name"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" placeholder="Enter Last Name" name="last_name"/></td>
        </tr>
    </table>
    <hr/>
        <input type="submit" value="submit"/>
        {% if messages %}
        {% for result in messages %}
        <b style="color: green;">{{result}}</b>
        {% endfor %}
        {% endif %}
    </form>
    <em>Already a Member? <a href="{% url 'login' %}">Login</a></em>
</body>
</html>
{% endblock content %}