{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
<link rel="stylesheet" href="{% static '\users\css\home.css' %}">
<link rel="stylesheet" href="{% static '\users\css\bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '\users\css\Login-Form-Clean.css' %}">
<link rel="stylesheet" href="{% static '\users\css\Registration-Form-with-Photo.css' %}">
<head>
    <title>Register</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Navbar on top -->
          <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
              <a class="navbar-brand" href="#">Corpus Management System</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% if request.session.email %}
                          <a class="dropdown-item" href="{% url 'logout' %}">{{request.session.email}}</a>
                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          {% else %}
                          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                          <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                          {% endif %}
                      </div>
                    </li>
                </ul>
              </div>
            </nav>
    </div>
    <section class="login-clean">
        <section class="register-photo">
            <div class="form-container">
                <div class="image-holder"></div>
                <form method="post">
                    {% csrf_token %}
                    <h2 class="text-center"><strong>Create</strong> an account.</h2>
                    <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                    <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="First Name"></div>
                    <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Last Name"></div>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                    <div class="form-group"><input class="form-control" type="password" name="repwd" placeholder="Password (repeat)"></div>
                    <div class="form-group">
                        <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="{% url 'login' %}">You already have an account? Login here.</a>
                </form>
            </div>
        </section>
    </section>
    <script src="static\users\js\jquery.min.js"></script>
    <script src="static\users\js\bootstrap.min.js"></script>
</body>
{% endblock content %}