{% extends 'main/home copy.html' %}

{% block bookmark %}

<div class="jumbotron container-fluid">
    <h2>My Bookmarks</h2>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Abstract</th>
                <th scope="col">Source</th>
                <th scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            {% for publication in publications %}
            <tr>
                
                <td><a href="/publication/{{publication.id}}">{{publication.title}}</a></td>
                <td>{{publication.author}}</td>
                <td style=
                "max-width:500px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; font-style: italic;">{{publication.abstract}}</td>
                <td>{{publication.source}}</td>
                {% if publication.url != 'Uploaded' and 'doi.org' not in publication.url %}
                    <td id="url" style="border-bottom: none;"><a href="{{publication.url}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">{{publication.url}}</div></a></td>
                {% endif %}
            
                {% if publication.url != 'Uploaded' and "doi.org" in publication.url %}
                    <td id="url" style="border-bottom: none;"><a href="https://{{publication.url}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">{{publication.url}}</div></a></td> 
                {% endif %}
                                                
                {% if publication.url == 'Uploaded' %}
                    <td id="url" style="border-bottom: none;"><a href="/media/{{publication.pdf}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">View PDF</div></a></td>
                {% endif %} 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

{% endblock bookmark %}