{% extends 'main/home copy.html' %}

{% block bookmark %}

<div class="jumbotron container-fluid">
    <h2>My Bookmarks</h2>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Abstract</th>
                <th scope="col">Source</th>
                <th scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            {% for publication in publications %}
            <tr>
                
                <td><a href="/publication/{{publication.id}}">{{publication.title}}</a></td>
                <td>{{publication.author}}</td>
                <td style=
                "max-width:500px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis">{{publication.abstract}}</td>
                <td>{{publication.source}}</td>
                <td>{{publication.url}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

{% endblock bookmark %}