<!DOCTYPE html>
{% if request.session.email %}
<html>
<head>

  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% for pub in publication %}
    <title>{{pub.title}}</title>
    {% endfor %}
  <link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
  <link rel="stylesheet" href="{% static '\users\assets\css\Pretty-Search-Form.css' %}">
  <link rel="stylesheet" href="{% static '\users\assets\css\publication.css' %}">
  <link rel="stylesheet" href="{% static '\users\assets\css\search.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
</head>
<body>
 
{% include 'main/nav-bar.html' %}

{% for getdata in publication %}
  <section class="article-dual-column">
      <div class="container">
        {% include 'main/messages.html' %}
        <div class="row">
            <div class="col-md-10 offset-md-1">
                {% if path %}
                <a href="{{path}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;"><i class="fa fa-arrow-left" aria-hidden="true" style="margin-right: 10px;"></i>Back</div></a>
                {% endif %}
            </div>
        </div>
          <div class="row">
              <div class="col-md-10 offset-md-1">
                  <div class="intro">
                      <h1 class="text-center">{{getdata.title}}</h1>
                  </div>
              </div>
           </div>
           <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1">
                    <div class="toc">
                        <p>Keywords</p>
                        
                        <ul style="list-style-type:none;">
                        {% if keyword_results %}
                            {% for keyword in keyword_results %}
                                <ul style="list-style: none;">
                                    <li><a href="/analytics/{{keyword}}" style="margin-top: 15px; text-transform: capitalize; text-decoration: none;">{{keyword|capfirst}}</a></li>
                                </ul>
                            {% endfor %}
                        {% else %}
                        
                        <div style="font-style: italic;">No keywords were scraped...</div>
                        {% endif %}
                        </ul>
                        
                        {% if request.session.email %}
                            
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addKeywordModal" style="background-color:green; font-size:13px">Add Keywords</button>
                            
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editKeywordModal" style="background-color:green; font-size:13px">Delete Keywords</button>
                            
                        {% endif %}

                        <div id="addKeywordModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                          
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Add Keyword</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="/publication/{{getdata.id}}/addkeywordRequest">
                                        {% csrf_token %}
                                        <label for="fname">Keywords</label><br>
                                        <div style="font-style:italic; font-size: 12px;">Note: keywords added/deleted are sent for validation by the admins.</div>
                                        <input type="text" id="addedKeyword" name="addedKeyword" placeholder="enter keyword/s (e.g. cloud, telehealth, augmented)" size="45" required><br>
                                        <input type="hidden" name="next" value="{{ request.path }}"/>
                                        
                                            <input type="hidden" name="previous" value="{{ path }}"/>
                                        
                                            <button type="submit" class="btn btn-primary btn-sm" ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                        </svg> Add </button>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                          
                            </div>
                          </div>

                          <div class="modal fade bd-example-modal-lg" id="editKeywordModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Keywords</h4>
                                    <div style="font-style:italic; font-size: 12px;">Note: keywords added/deleted are sent for validation by the admins.</div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Keywords</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if keyword_results %}
                                                    {% for keyword in keyword_results %}
                                                        
                                                            <tr>
                                                                <form method="POST" action="/publication/{{getdata.id}}/removekeywordRequest/{{keyword}}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="keyword" value="{{keyword}}"/>
                                                                <input type="hidden" name="next" value="{{ request.path }}"/>
                                                                {% if path %}
                                                                    <input type="hidden" name="previous" value="{{ path }}"/>
                                                                {% endif %}
                                                                    <td>{{keyword}}</td>
                                                                <td><button type="submit" class="btn btn-outline-danger btn-sm" name="collab-delete">x</button></td>
                                                                </form>    
                                                            </tr>
                                                       
                                                    {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        

                        <br>
                        <br>
                        <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#mymodal">Add to Folder<i class="fa fa-folder-open-o" aria-hidden="true" style="margin-left: 5px;"></i></button>
                        
                        <br>
                        {% if bool_in_bookmark == "true" %}
                            {% for e in my_bookmarks_id %}
                            <form method="POST" action="/publication/{{getdata.id}}/bookmark">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                            {% if path %}
                                    <input type="hidden" name="previous" value="{{ path }}"/>
                            {% endif %} 
                            <input type="hidden" name="folder_id" value="{{e.id}}"/>
                            <input type="hidden" name="bookmark_action" value="delete">
                            <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">Delete from Bookmarks<i class="fa fa-bookmark" aria-hidden="true" style="margin-left: 5px;"></i></button>
                            </form>
                            {% endfor %}
                        {% else %}
                            {% for e in my_bookmarks_id %}
                            <form method="POST" action="/publication/{{getdata.id}}/bookmark">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}"/>
                                {% if path %}
                                    <input type="hidden" name="previous" value="{{ path }}"/>
                                {% endif %}    
                                <input type="hidden" name="folder_id" value="{{e.id}}"/>
                                <input type="hidden" name="bookmark_action" value="add">
                                <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">Add to Bookmarks<i class="fa fa-bookmark-o" aria-hidden="true" style="margin-left: 5px;"></i></button>
                            </form>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <p style="margin-bottom: 5px;">Authors:</p>
                        <p>{% for author in getdata.author %}<a href="/analyticsAuthor/{{author}}" style="margin-top: 15px; text-decoration: none;">{{author|capfirst}}</a>; {% endfor %}</p>
                        <p style="margin-bottom: 5px;">Source:</p>
                        <p>{{getdata.source}}</p>
                        <p style="margin-bottom: 5px;">URL:</p>

                        {% if getdata.url != 'Uploaded' and 'doi.org' not in getdata.url %}
                            <td id="url" style="border-bottom: none;"><a href="{{getdata.url}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">{{getdata.url}}</div></a></td>
                        {% endif %}

                        {% if getdata.url != 'Uploaded' and "doi.org" in getdata.url %}
                            <td id="url" style="border-bottom: none;"><a href="https://{{getdata.url}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">{{getdata.url}}</div></a></td> 
                        {% endif %}
                                    
                        {% if getdata.url == 'Uploaded' %}
                            <td id="url" style="border-bottom: none;"><a href="/media/{{getdata.pdf}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">View PDF</div></a></td>
                        {% endif %}
                        <br>
                        

                        {% if getdata.abstract %}
                            
                            <p style="margin-bottom: 5px;">Abstract:</p>
                            <p style="text-align: justify;">{{getdata.abstract}}</p>
                        {% endif %}
                    </div>
                </div>
           </div>
       </div>
  </section>

    <form method="POST" action="/publication/{{getdata.id}}/bookmark" id="bookmark-pub"> 
    {% csrf_token %}
    <div class="modal fade bd-example-modal-lg" id="mymodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose folder to add bookmark</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-2 mb-1">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#newFolder" aria-expanded="false" aria-controls="newFolder"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                      </svg> Folder </button>
                      <br>
                </div>

                <div class="collapse mb-1" id="newFolder">
                    <div class="card card-body">

                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                            <input type="hidden" name="newFolder" value="newFolder">
                            <div class="form-group">
                                <label for="folder-name" class="col-form-label">Folder name:</label>
                                <input type="text" class="form-control" name="folder-name">
                            </div>                            
                        <div class="modal-footer float-end">
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#newFolder">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm" name="create-folder">Create folder</button>
                        </div>
                    </div>
                </div>
    </form>


                <!--
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg" viewBox="0 2 14 14">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                      </svg>
                -->
                
                <div class="container">
                    {% for x in in_bookmark %}
                    <form method="POST" action="/publication/{{getdata.id}}/bookmark">
                        {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                    <input type="hidden" name="folder_id" value="{{x.id}}"/>
                    <input type="hidden" name="bookmark_action" value="delete">
                    <div class="row align-items-center mb-2">
                        <div name="{{x.id}}" class="col-2 d-flex">{{x.folder_name}}</div>
                        <div class="col-2 d-flex">
                        <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">x</button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="border-bottom-0"></span>
                    </div>
                    </form>
                    {% endfor %}
                    
                    {% for y in not_bookmark %}
                    {% if not forloop.first and forloop.counter != 1 %}
                    <form method="POST" action="/publication/{{getdata.id}}/bookmark">
                        {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                    <input type="hidden" name="folder_id" value="{{y.id}}"/>
                    <input type="hidden" name="bookmark_action" value="add">
                    <div class="row align-items-center mb-2">
                        <div name="{{y.id}}" class="col-2 d-flex">{{y.folder_name}}</div>
                        <div class="col-2 d-flex">
                        <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">+</button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="border-bottom-0"></span>
                    </div>
                    </form>
                    {% endif %}
                    {% endfor %}

                    {% for a in inshared%}
                    <form method="POST" action="/publication/{{getdata.id}}/bookmark">
                        {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                    <input type="hidden" name="folder_id" value="{{a.id}}"/>
                    <input type="hidden" name="bookmark_action" value="sharedDelete">
                    <div class="row align-items-center mb-2">
                        <div name="{{a.id}}" class="col-2 d-flex">{{a.folder_name}}</div>
                        <div class="col-2 d-flex">
                        <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">x</button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="border-bottom-0"></span>
                    </div>
                    </form>
                    {% endfor %}
    
                    {% for b in notinshared%}
                    <form method="POST" action="/publication/{{getdata.id}}/bookmark">
                        {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                    <input type="hidden" name="folder_id" value="{{b.id}}"/>
                    <input type="hidden" name="bookmark_action" value="sharedAdd">
                    <div class="row align-items-center mb-2">
                        <div name="{{b.id}}" class="col-2 d-flex">{{b.folder_name}}</div>
                        <div class="col-2 d-flex">
                        <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">+</button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="border-bottom-0"></span>
                    </div>
                    </form>
                    {% endfor %}
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>

          </div>
        </div>
    </div>
    
  

{% endfor %}

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
{% endif %}