<!DOCTYPE html>
{% if request.session.email %}
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>CMS</title>
  <link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
  <link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
  <link rel="stylesheet" href="{% static '\users\assets\css\Pretty-Search-Form.css' %}">
  <link rel="stylesheet" href="{% static '\users\assets\css\publication.css' %}">
  <link rel="stylesheet" href="{% static '\users\assets\css\search.css' %}">
      
</head>

<body>
 

{% include 'main/nav-bar.html' %}

{% for getdata in publication %}
  <section class="article-dual-column">
      <div class="container">
          <div class="row">
              <div class="col-md-10 offset-md-1">
                  <div class="intro">
                      <h1 class="text-center">{{getdata.title}}</h1>
                  </div>
              </div>
           </div>
           <div class="row">
               <div class="col-md-10 col-lg-3 offset-md-1">
                   <div class="toc">
                       <p>Keywords</p>
                       <ul style="list-style-type:none;">
                           <li><a href="#">Aliquam In Arcu </a> </li>
                           <li><a href="#">Ut vehicula rhoncus</a></li>
                           <li><a href="#">Lorem Ipsum </a> </li>
                           <li><a href="#">Dolor sit amet</a> </li>
                       </ul>
                       <br>
                       <span style="margin-right: 10px;">Remove from folder</span>
                       <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#bookmark">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                               <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                           </svg>
                       </button>
                   </div>
               </div>
               <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                   <div class="text">
                       <p style="margin-bottom: 5px;">Authors:</p>
                       <p>{{getdata.author}}</p>
                       <p style="margin-bottom: 5px;">Source:</p>
                       <p>{{getdata.source}}</p>
                       <p style="margin-bottom: 5px;">URL:</p>
                       <a href="{{getdata.url}}">{{getdata.url}}</a>
                       {% if getdata.abstract %}
                       <p style="margin-bottom: 5px;">Abstract:</p>
                       <p style="text-align: justify;">{{getdata.abstract}}</p>
                        {% endif %}
                   </div>
               </div>
           </div>
       </div>
  </section>

  <div class="modal fade bd-example-modal-lg" id="bookmark" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Folders</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-2 mb-1">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#newFolder" aria-expanded="false" aria-controls="newFolder"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                  </svg> Folder </button>
                  <br>
            </div>
            
            <form method="POST" action="/folders/{{request.session.username}}/{{folderID}}/publication/{{pubID}}/publicationbookmarkinfolder" id="bookmark-pub"> 
            <div class="collapse mb-1" id="newFolder">
                <div class="card card-body">

                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        <input type="hidden" name="newFolder" value="newFolder">
                        <div class="form-group">
                            <label for="folder-name" class="col-form-label">Folder name:</label>
                            <input type="text" class="form-control" name="folder-name">
                        </div>                            
                    <div class="modal-footer float-end">
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#newFolder">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm" name="create-folder">Create folder</button>
                    </div>
                </div>
            </div>
            </form>

            <div class="container">
                {% for x in in_bookmark %}
                <form method="POST" action="/folders/{{request.session.username}}/{{folderID}}/publication/{{pubID}}/publicationbookmarkinfolder">
                    {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}"/>
                <input type="hidden" name="folder_id" value="{{x.id}}"/>
                <input type="hidden" name="bookmark_action" value="delete">
                <div class="row align-items-center mb-2">
                    <div name="{{x.id}}" class="col-2 d-flex">{{x.folder_name}}</div>
                    <div class="col-2 d-flex">
                    <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">x</button>
                    </div>
                </div>
                <div class="row">
                    <span class="border-bottom-0"></span>
                </div>
                </form>
                {% endfor %}
                
                {% for y in not_bookmark %}
                {% if not forloop.first %}
                <form method="POST" action="/folders/{{request.session.username}}/{{folderID}}/publication/{{pubID}}/publicationbookmarkinfolder">
                    {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}"/>
                <input type="hidden" name="folder_id" value="{{y.id}}"/>
                <input type="hidden" name="bookmark_action" value="add">
                <div class="row align-items-center mb-2">
                    <div name="{{y.id}}" class="col-2 d-flex">{{y.folder_name}}</div>
                    <div class="col-2 d-flex">
                    <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">+</button>
                    </div>
                </div>
                <div class="row">
                    <span class="border-bottom-0"></span>
                </div>
                </form>
                {% endif %}
                {% endfor %}

                <p>Inshared</p>
                <p>{{inshared}}</p>
                {% for a in inshared%}
                <form method="POST" action="/folders/{{request.session.username}}/{{folderID}}/publication/{{pubID}}/publicationbookmarkinfolder">
                    {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}"/>
                <input type="hidden" name="folder_id" value="{{x.id}}"/>
                <input type="hidden" name="bookmark_action" value="delete">
                <div class="row align-items-center mb-2">
                    <div name="{{x.id}}" class="col-2 d-flex">{{x.folder_name}}</div>
                    <div class="col-2 d-flex">
                    <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">x</button>
                    </div>
                </div>
                <div class="row">
                    <span class="border-bottom-0"></span>
                </div>
                </form>
                {% endfor %}

                <p>NotInShared</p>
                <p>{{notinshared}}</p>
                {% for b in notinshared%}
                <form method="POST" action="/folders/{{request.session.username}}/{{folderID}}/publication/{{pubID}}/publicationbookmarkinfolder">
                    {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}"/>
                <input type="hidden" name="folder_id" value="{{y.id}}"/>
                <input type="hidden" name="bookmark_action" value="add">
                <div class="row align-items-center mb-2">
                    <div name="{{y.id}}" class="col-2 d-flex">{{y.folder_name}}</div>
                    <div class="col-2 d-flex">
                    <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">+</button>
                    </div>
                </div>
                <div class="row">
                    <span class="border-bottom-0"></span>
                </div>
                </form>
                {% endfor %}
            </div>
            
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>

<!-- Annotation -->
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-10" style="padding-left: 50px; padding-right: 50px;"><h6>Annotations</h6></div>
        <div class="col"></div>
    </div>
  {% if annotations %}
  <div class="row">
    <div class="col"></div>
    <div class="col-10" style="padding-left: 50px; padding-right: 50px;">
        {% for annotation in annotations %}
        <div class="card" id="annotationCard" style="display:block; margin-top: 20px;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">{{ annotation.author }} </h4>
                        <h6 class="text-muted card-subtitle mb-2">posted on {{annotation.dateTime}}</h6>
                    </div>
                    <div class="col">
                        {% if annotation.marker == "To-do" %}
                            <h6 class="float-end">{{annotation.marker}} <i class="fas fa-circle" style="color:#039be5; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></i></h6>
                        {% elif annotation.marker == "On progress" %}
                            <h6 class="float-end">{{annotation.marker}} <i class="fas fa-circle" style="color:#ffeb3b; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></i></h6>
                        {% elif annotation.marker == "Finished" %}
                            <h6 class="float-end">{{annotation.marker}} <i class="fas fa-circle" style="color:#43a047; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></i></h6>
                        {% endif %}
                    </div>
                    <form method="POST" action="/folders/{{request.session.username}}/{{folderID}}/publication/{{pubID}}/annotate/{{annotation.id}}" id="annotate-from-pub"> 
                        {% csrf_token %}
                        <select class="custom-select invisible" id="pubsMarkerSelect_{{annotation.id}}" name="selectMark" disabled>
                            <option disabled selected>Change marker</option>
                            <option value="To-do">To-do</option>
                            <option value="On progress">On progress</option>
                            <option value="Finished">Finished</option>
                            <option value="None">None</option>
                        </select>

                        <textarea class="form-control" id="pubsAnnotationTextArea_{{annotation.id}}" rows="3" name="annotation-exist" readonly>{{annotation.body}}</textarea>
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        <br>
                        {% if annotation.author == request.session.username %}
                        <button type="submit" class="btn btn-danger btn-sm float-end" id="pubsAnnotation_btnDelete_{{annotation.id}}" style="display:inline" name="annotate-delete">Delete</button>
                        <button type="button" class="btn btn-primary btn-sm float-end" id="pubsAnnotation_btnEdit_{{annotation.id}}" onclick="clickEditOnAnnotationClass('{{annotation.id}}')" style="display:inline; margin-right:20px;" name="annotate-edit">Edit</button>
                        <button type="button" class="btn btn-warning btn-sm float-end" id="pubsAnnotation_btnCancel_{{annotation.id}}" onclick="clickCancelAnnotationClass('{{annotation.id}}','{{annotation.body}}','{{annotation.marker}}')" style="display:none; margin-right:20px;" name="annotate-cancel">Cancel</button>
                        <button type="submit" class="btn btn-success btn-sm float-end" id="pubsAnnotation_btnSave_{{annotation.id}}" onclick="clickSaveAnnotationClass('{{annotation.id}}')" style="display:none; margin-right:20px;" name="annotate-save">Save</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col"></div>
  </div>
  {% endif %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col"></div>
        <div class="col-10" style="padding-left: 50px; padding-right: 50px;">
            <div class="card" id="annotationCard" style="display:block; margin-top: 20px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">{{ request.session.username }}</h4>
                        </div>
                        <form method="POST" action="/folders/{{request.session.username}}/{{folderID}}/publication/{{pubID}}/annotate" id="annotate-from-pub"> 
                            {% csrf_token %}
                            <span class="choose text-dark" style="margin-right: 10px;">Marker:</span>
                            <select class="custom-select" id="pubsMarkerSelect" name="selectMark">
                                <option selected value="None">None <i class="fas fa-circle"></i></option>
                                <option value="To-do">To-do</option>
                                <option value="On progress">On progress</option>
                                <option value="Finished">Finished</option>
                            </select>
                            <textarea class="form-control" id="pubsAnnotationTextArea" rows="3" name="annotation"></textarea>
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm float-end" name="annotate-add" id="pubsAnnotation_btnAnnotate">Annotate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
<!-- End Annotation -->
{% endfor %}

  <!-- <form method="POST" action="/publication/{{getdata.id}}/bookmark" id="bookmark-pub" > 
    {% csrf_token %}
    <div class="">
      <input type="hidden" name="next" value="{{ request.path }}"/>
      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#bookmark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          </svg>
      </button>
    </div>
    
    <div class="modal fade bd-example-modal-lg" id="bookmark" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose folder to add bookmark</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-2 mb-1">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#newFolder" aria-expanded="false" aria-controls="newFolder"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                      </svg> Folder </button>
                      <br>
                </div>

                <div class="collapse mb-1" id="newFolder">
                    <div class="card card-body">

                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                            <div class="form-group">
                                <label for="folder-name" class="col-form-label">Folder name:</label>
                                <input type="text" class="form-control" name="folder-name">
                            </div>                            
                        <div class="modal-footer float-end">
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#newFolder">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm" name="create-folder">Create folder</button>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    {% for x in in_bookmark %}
                    <input type="hidden" name="folder_id" value="{{x.id}}"/>
                    <div class="row align-items-center mb-2">
                        <div name="{{x.id}}" class="col-2 d-flex">{{x.folder_name}}</div>
                        <div class="col-2 d-flex">
                        <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">x</button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="border-bottom-0"></span>
                    </div>
                    {% endfor %}
                    
                    {% for y in not_bookmark %}
                    <input type="hidden" name="folder_id" value="{{y.id}}"/>
                    <div class="row align-items-center mb-2">
                        <div name="{{y.id}}" class="col-2 d-flex">{{y.folder_name}}</div>
                        <div class="col-2 d-flex">
                        <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">+</button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="border-bottom-0"></span>
                    </div>
                    {% endfor %}
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>

          </div>
        </div>
      </div>
    
  </form> -->

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="{% static '\users\js\my-folders.js' %}"></script>
   <script src="{% static '\users\js\home.js' %}"></script>
</body>
</html>
{% endif %}