<!DOCTYPE html>
<html lang="en">
{% if request.session.email %}
{% load static %}
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Corpus Management System</title>
    <link rel="stylesheet" href="{% static '\users\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\uform.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static '\users\fonts\ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '\users\css\home.css' %}">
    <script type="text/javascript">

      $(document).ready(function(){
      
          var counter = 2;
      
          $("#addButton").click(function () {
      
          if(counter>10){
                  alert("Only 10 tags allowed");
                  return false;
          }   
      
          var newTextBoxDiv = $(document.createElement('div'))
               .attr("id", 'TextBoxDiv' + counter);
      
          newTextBoxDiv.after().html('<label>Tag #'+ counter + ' : </label>' +
                '<input type="text" name="textbox' + counter + 
                '" id="textbox' + counter + '" value="" >');
      
          newTextBoxDiv.appendTo("#TextBoxesGroup");
      
      
          counter++;
           });
      
           $("#removeButton").click(function () {
          if(counter==1){
                alert("No more tags to remove");
                return false;
             }   
      
          counter--;
      
              $("#TextBoxDiv" + counter).remove();
      
           });
      
           $("#getButtonValue").click(function () {
      
          var msg = '';
          for(i=1; i<counter; i++){
            msg += "\n Tag #" + i + " : " + $('#textbox' + i).val();
          }
                alert(msg);
           });
        });
      </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid">
      <div class="ms-auto order-0">
      <a class="navbar-brand" href="{% url 'home' %}">Corpus Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if request.session.email %}
                {{request.session.username}}
                {% else %}
                Account
                {% endif %}
              </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if request.session.email %}
                <a type="submit" class="dropdown-item" href="{% url 'upload' %}">Upload Literature</a>
                <a type="submit" class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </li>
        </ul>
      </div>
      </div>
    </nav>
    <section class="contact-clean">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Upload Literature</h2>
            <div class="mb-3"><input class="form-control" type="text" name="title" placeholder="Title" required></div>
            <div class="mb-3"><input class="form-control" type="text" name="author" placeholder="Author" required></div>
            <div class="mb-3"><textarea class="form-control" name="abstract" placeholder="Abstract" rows="14" style="resize: none;"></textarea></div>
            <div class="mb-3"><input class="form-control" type="text" name="url" placeholder="Url" required></div>
            <div class="mb-3"><input class="form-control" type="text" name="source" placeholder="Source"></div>
            <input type="file" name="document">
            <div id='TextBoxesGroup'>
              <div id="TextBoxDiv1">
                  <label>Tag #1 : </label><input type='textbox' name='textbox1' id='textbox1' >
              </div>
            </div>
            <input type='button' value='+' id='addButton'>
            <input type='button' value='-' id='removeButton'>
            <input type='button' value='Get TextBox Value' id='getButtonValue'>
            <div class="mb-3"><button class="btn btn-primary" type="submit">Upload</button></div>
        </form>
    </section>
    <script src="static\users\js\bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static '\users\js\home.js' %}"></script>
</body>
{% endif %}
</html>