<!DOCTYPE html>
<html lang="en">
{% if request.session.email %}
{% load static %}
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Corpus Management System</title>
    <link rel="stylesheet" href="{% static '\users\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\uform.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '\users\css\Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
</head>

<body>
    {% include 'main/nav-bar.html' %}
    <section class="contact-clean">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Upload Literature</h2>
            <div class="mb-3"><input class="form-control" type="text" name="title" placeholder="Title" required></div>
            <div class="mb-3"><input class="form-control" type="text" name="author" placeholder="Author/s" required></div>
            <div class="mb-3"><textarea class="form-control" name="abstract" placeholder="Abstract" rows="14" style="resize: none;"></textarea></div>
            <div class="mb-3"><textarea class="form-control" name="keywords" placeholder="Keywords (e.g., Augmented Reality, Computer Science, Artifical Intelligence)" rows="14" style="resize: none;"></textarea></div>
            <input type="file" name="document">
            <div class="mb-3"><button class="btn btn-primary" type="submit">Upload</button></div>
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endif %}
</html>