<!DOCTYPE html>
<html lang="en">
{% if request.session.email %}
{% load static %}
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Corpus Management System</title>
    <link rel="stylesheet" href="{% static '\users\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\uform.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '\users\css\Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static '\users\fonts\ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '\users\css\Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
</head>

<body>
  <nav class="navbar navbar-light navbar-expand navigation-clean" style="background: #087830;">
    <div class="container"><a class="navbar-brand" href="{% url 'home' %}">Brand</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" style="color:white">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'upload' %}" style="color:white">Upload Literature</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bookmarks' %}" style="color:white">My Bookmarks</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" style="color:white">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
    <section class="contact-clean">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Upload Literature</h2>
            <div class="mb-3"><input class="form-control" type="text" name="title" placeholder="Title" required></div>
            <div class="mb-3"><input class="form-control" type="text" name="author" placeholder="Author" required></div>
            <div class="mb-3"><textarea class="form-control" name="abstract" placeholder="Abstract" rows="14" style="resize: none;"></textarea></div>
            <div class="mb-3"><textarea class="form-control" name="keywords" placeholder="Keywords (e.g., Augmented Reality, Computer Science, Artifical Intelligence)" rows="14" style="resize: none;"></textarea></div>
            <input type="file" name="document">
            <div class="mb-3"><button class="btn btn-primary" type="submit">Upload</button></div>
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endif %}
</html>