.login-button {
    color: white;
    background-color: #087830;
  }
  
  .signup-button {
    background-color: #087830;
    color: white;
  }

.masthead {
    background: url('/static/users/img/library.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width:100%;
    background-size: cover;
}

#adriclablist {
  width:150px;
}
  
