.login-button {
    color: white;
    background-color: #087830;
  }
  
  .signup-button {
    background-color: #087830;
    color: white;
  }

.masthead {
    background: whitesmoke;
    display: table;
    height: 100%;
    position: relative;
    width:100%;
    background-size: cover;
}
  
