<script>

    $(document).ready(function(){
        //Overall bar chart
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [   
                            // "CAR",
                            // "COMET",
                            // "CITE4D",
                            // "CeLT",
                            // "CeHCI",
                            // "CNIS",
                            // "GameLab",
                            // "TE3D House",
                            // "Bioinformatics Lab"
                            {% for center in centers %}"{{center.name}}",{% endfor %}
                        ],
                datasets: [{
                    label: 'Number of Publications in "Year"',
                    data: [
                            // {{car_count}},
                            // {{comet_count}},
                            // {{cite4d_count}},
                            // {{celt_count}},
                            // {{cehci_count}},
                            // {{cnis_count}},
                            // {{gamelab_count}},
                            // {{te3d_count}},
                            // {{bio_count}},
                            {% for center in centers %}"{{center.pub_count}}",{% endfor %}
                        ],
                    backgroundColor: [
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    ],
                    borderColor: [
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    'rgba(	8, 120, 48, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                tooltips:{enabled: false,},
                responsive:true,
                plugins: {
                    labels:{
                        render:'value',
                    },
                },
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    yAxes: [{
                        ticks: {
                            min: 0,
                            stepSize: 1,  
                        },
                        afterDataLimits(scale) {
                        scale.max += 1;
                        scale.min -= 1;
                        }
                    }]
                },
                events:['click'],onClick: function(c,i) {
                        e = i[0];
                        console.log(e._index)
                        var x_value = this.data.labels[e._index];
                        var y_value = this.data.datasets[0].data[e._index];
                        console.log('xvalue: '+x_value);
                        console.log(y_value);
                        barClick(x_value);
                },
            }
        });

        //Per center pie chart
        {% for center in centers %}
        const ctxPie{{center.var_name}} = document.getElementById('{{center.var_name}}').getContext('2d');
        const {{center.var_name}} = new Chart(ctxPie{{center.var_name}}, {
            type: 'pie',
            data: {
                labels: [
                            '{{center.name}}'
                        ],
                datasets: [{
                    label: 'Author',
                    data: [{% for author in center.authors %}'{{author.0}}',{% endfor %}],
                    backgroundColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    ],
                    borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
            tooltips:{enabled: false,},
                responsive:true,
                plugins: {
                    labels: {
                        render: 'value',
                        precision: 0,
                        showZero: true,
                        fontSize: 12,
                        fontColor: '#000',
                        fontStyle: 'normal',
                        fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                        textShadow: false,
                        arc: false,
                        position: 'default',
                        overlap: true,
                        showActualPercentages: true,
                        outsidePadding: 4,
                        textMargin: 4
                    }
            },
            events:['click'],onClick: function(c,i) {
                    e = i[0];
                    console.log(e._index)
                    var x_value = this.data.labels[e._index];
                    var y_value = this.data.datasets[0].data[e._index];
                    console.log(x_value);
                    console.log(y_value);
                    sourcePieClick(x_value)
                    // window.open('http://ccscloud1.dlsu.edu.ph:11780/analytics/{{searched}}/'+x_value,'_blank');
            },
            }
        });
        {% endfor %}
    //Closing tag for document.ready function
    });
</script>