<div class="container-fluid" style="background: #efefef;">
    <br><br>
    <div class="row">
        <div class="col">
            <h5>Folder name</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive" style="min-height: 100vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author/s</th>
                            <th>Abstract</th>
                            <th>Source</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if sample %}
                            {% for sam in sample %}
                            <tr>
                                <td><a href="/publication/{{result.id}}">{{sam.title}}</a></td>
                                <td>{{sam.author}}</td>
                                <td style="max-width:500px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{sam.abstract}}</td>
                                <td>{{sam.source}}</td>
                                <td id="url">{{sam.url}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>