<div class="container-fluid" style="background: #efefef;">
    <br><br>
    <div class="row">
        <div class="col">
            <h5 style="display: inline;">{{folder.folder_name}}</h5>
            <button class="btn btn-danger float-end" style="margin-left: 1em;">Delete</button>
            <button class="btn btn-secondary float-end" style="margin-right: 1em;">Collaborators</button>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive" style="min-height: 100vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author/s</th>
                            <th>Abstract</th>
                            <th>Source</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if bookmarks %}
                            {% for x in bookmarks %}
                                {% for y in rawbookmarks %}
                                    {% if folder.id == y.folderID and y.publicationID == x.id %}
                                    <tr>
                                        <td><a href="/folders/{{request.session.username}}/{{folder.id}}/publication/{{x.id}}">{{x.title}}</a></td>
                                        <td>{{x.author}}</td>
                                        <td style="max-width:500px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{x.abstract}}</td>
                                        <td>{{x.source}}</td>
                                        <td id="url">{{x.url}}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>