<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="{% static '\users\css\profile.css' %}">
</head>
<body>
    <div class="tabs-body">
        <div class="tabs-sidebar">
            <button class="tabs-button tabs-button-active" data-for-tab="1">Profile</button>
            <button class="tabs-button" data-for-tab="1">Folder 1</button>
            <button class="tabs-button" data-for-tab="2">Folder 2</button>
            <button class="tabs-button" data-for-tab="3">Folder 3</button>
        </div>
        <div class="tabs-content tabs-content-active" data-tab="0">
            <h2>Profile</h2>
            <p>Username</p>
            <p>Email</p>
        </div>
        <div class="tabs-content" data-tab="1">
            <h2>Folder 1</h2>
            <p>Publication 1</p>
            <p>Publication 2</p>
            <p>Publication 3</p>
        </div>
        <div class="tabs-content" data-tab="2">
            <h2>Folder 2</h2>
            <p>Publication 1</p>
            <p>Publication 2</p>
            <p>Publication 3</p>
        </div>
        <div class="tabs-content" data-tab="3">
            <h2>Folder 3</h2>
            <p>Publication 1</p>
            <p>Publication 2</p>
            <p>Publication 3</p>
        </div>
    </div>

    <script src="{% static '\users\js\profile.js' %}"></script>
</body>
</html>