    <div>
        <div class="wrapper wrapper--w680">
            <div class="card card-2">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">Search</a>
                        </li>
<!--                         <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab2" data-toggle="tab">car</a>
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab3" data-toggle="tab">flight</a>
                        </li> -->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <form method="POST" action="#">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label class="label">Search for:</label>
                                    <input class="input--style-1" type="search" name="searched" placeholder="Article, Title, Author, Abstract, Keywords" required="required">
                                </div>
                                <!-- <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">check-in:</label>
                                            <input class="input--style-1" type="text" name="check-in" placeholder="mm/dd/yyyy" id="input-start">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">check-out:</label>
                                            <input class="input--style-1" type="text" name="check-out" placeholder="mm/dd/yyyy" id="input-end">
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="input-group">
                                    <label class="label">Search by</label>
                                    <div class="input-group-icon" id="js-select-special">
                                        <input class="input--style-1" type="text" name="traveller" value="All" disabled="disabled" id="info">
                                        <i class="zmdi zmdi-chevron-down input-icon"></i>
                                    </div>
                                    <div class="dropdown-select">
                                        <ul class="list-room">
                                            <li class="list-room__item">
                                               <span class="list-room__name">Room 1</span>
                                                <ul class="list-person">
                                                    <li class="list-person__item">
                                                        <span class="name">Adults</span>
                                                        <div class="quantity quantity1">
                                                            <span class="minus">-</span>
                                                            <input class="inputQty" type="number" min="0" value="1">
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </li>
                                                    <li class="list-person__item">
                                                        <span class="name">Children</span>
                                                        <div class="quantity quantity2">
                                                            <span class="minus">-</span>
                                                            <input class="inputQty" type="number" min="0" value="0">
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <span class="name">Adults</span>
                                            </li>
                                        </ul>
                                        <select class="list-room">
                                            <option class="list-room__item" value="title">Title</option>
                                            <option class="list-room__item" value="author">Author</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="container">
                                    <span class="choose text-dark">Filter</span>
                                        <select class="form-select-sm" name="filterData">
                                            <option selected value="default">All</option>
                                            <option value="title">Title</option>
                                            <option value="author">Author</option>
                                        </select>
                                        <br><br><br>
                                        <!---
                                      <div class="dropdown">
                                        <div class="select">
                                          <span>All</span>
                                          <i class="fa fa-chevron-left"></i>
                                        </div>
                                        <input type="hidden" name="gender">
                                        <ul class="dropdown-menu">
                                          <li id="male">All</li>
                                          <li id="male">Title</li>
                                          <li id="female">Author</li>
                                        </ul>
                                      </div>
                                        -->
                                  <span class="msg"></span>
                                </div>
                                <div class="p-t-5">
                                    <label class="checkbox-container m-r-45">AIS
                                        <input type="checkbox" name="filterLib" value="ais">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkbox-container m-r-45">IEEE
                                        <input type="checkbox" name="filterLib" value="ieee">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkbox-container">Scopus
                                        <input type="checkbox" name="filterLib" value="scopus">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button class="btn-submit" type="submit">search</button>
                            </form>
                        </div>
<!--                         <div class="tab-pane" id="tab2">
                            <form method="POST" action="#">
                                <div class="input-group">
                                    <label class="label">location:</label>
                                    <input class="input--style-1" type="text" name="location" placeholder="Destination, hotel name" required="required">
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">driver age:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="driver-age">
                                                    <option>23</option>
                                                    <option>24</option>
                                                    <option selected="selected">25</option>
                                                    <option>26</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">car group:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="car-group">
                                                    <option selected="selected">Group S-car</option>
                                                    <option>Group 1</option>
                                                    <option>Group 2</option>
                                                    <option>Group 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">pick up:</label>
                                            <input class="input--style-1 js-single-datepicker" type="text" name="pickup" placeholder="mm/dd/yyyy" data-drop="1">
                                            <div class="dropdown-datepicker" id="dropdown-datepicker1"></div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">time:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="time-pickup">
                                                    <option selected="selected">10:00 AM</option>
                                                    <option>5:00 AM</option>
                                                    <option>6:00 AM</option>
                                                    <option>7:00 AM</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">drop off:</label>
                                            <input class="input--style-1 js-single-datepicker" type="text" name="dropoff" placeholder="mm/dd/yyyy" data-drop="2">
                                            <div class="dropdown-datepicker" id="dropdown-datepicker2"></div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">time:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="time-dropoff">
                                                    <option selected="selected">10:00 AM</option>
                                                    <option>5:00 AM</option>
                                                    <option>6:00 AM</option>
                                                    <option>7:00 AM</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-submit m-t-0" type="submit">search</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <form method="POST" action="#">
                                <div class="input-group">
                                    <label class="label">origin:</label>
                                    <input class="input--style-1" type="text" name="origin" placeholder="City or airport" required="required">
                                </div>
                                <div class="input-group">
                                    <label class="label">destination:</label>
                                    <input class="input--style-1" type="text" name="destination" placeholder="City or airport" required="required">
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Departing:</label>
                                            <input class="input--style-1" type="text" name="check-in" placeholder="mm/dd/yyyy" id="input-start-2">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">returning:</label>
                                            <input class="input--style-1" type="text" name="check-out" placeholder="mm/dd/yyyy" id="input-end-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="p-t-5">
                                    <label class="checkbox-container m-r-45">First Class
                                        <input type="checkbox" name="first-class">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkbox-container m-r-45">Business
                                        <input type="checkbox" name="business">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkbox-container">Economy
                                        <input type="checkbox" checked="checked" name="economy">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button class="btn-submit" type="submit">search</button>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
