<!DOCTYPE html>
{% if request.session.email %}
<html>

<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KRZGBQM');</script>
    <!-- End Google Tag Manager -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Search</title>
    <link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
    <link rel="stylesheet" href="{% static '\users\assets\css\Pretty-Search-Form.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRZGBQM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include 'main/nav-bar.html' %}
    {% if searched %}
    <div class="container-fluid" style="background: #efefef;">
        <div class="container" style="padding-top: 20px">
            <form class='col-12' method="POST" action="{% url 'search' %}" id="search-form">
                {% csrf_token %}
                <div class="col-12">
                
                    <div class="input-group mb-3">
                        <input class="form-control" type="search" placeholder="Article, Title, Author, Abstract, Keywords" name="searched" aria-label="Search">
                        <button class="btn btn-success btn-sm" type="submit">Search</button>
                    </div>

                    <span class="choose text-dark">Filter by: </span>
                    <select id="inputState" class="custom-select" aria-label="Filter" name="filterData" style="    padding: 8px 12px; color: #333; background-color: white; border: 1px solid #ddd; cursor: pointer; border-radius: 5px; margin-bottom: 15px; margin-right: 20px;">
                            <option selected value="default">All</option>
                            <option value="title">Title</option>
                            <option value="author">Author</option>
                    </select>

                    <span style="margin-right: 5px;">From:</span>
                    <div class="form-check form-check-inline">
                        <input id="formCheck-AIS" class="form-check-input" type="checkbox" name="filterLib" value="ais"/>
                        <label class="form-check-label" for="formCheck-AIS">AIS</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="formCheck-IEEE" class="form-check-input" type="checkbox" name="filterLib" value="ieee"/>
                        <label class="form-check-label" for="formCheck-IEEE">IEEE</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="formCheck-Scopus" class="form-check-input" type="checkbox" name="filterLib" value="scopus"/>
                        <label class="form-check-label" for="formCheck-Scopus">Scopus</label>
                    </div>
                </div>
            </form> 
        </div>

        {% include 'main/messages.html' %}
       
        <div class="row">
            <div class="col">
                <h5 style="margin-top: 20px; margin-bottom: 20px;">Search results for {{searched}}</h5>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center">
            <div class="col-2" style="margin-left: 10px;max-width: 200px;">
                <h5 style="margin-top: 20px;">Keywords</h5>
                {% for keyword in keyword_results|slice:"5" %}

                <a href="/search/{{searched}}/{{keyword}}" style = "color:black" id="link-{{ forloop.counter }}-keyword"><div class="default" style="background-color: none; color:black; box-shadow: none !important;"id="keyword-{{forloop.counter}}" >{{keyword}}</a></div>

                {% endfor %}

                {% if keyword_results.count > 5 %}
                <p id="seemore-keyword" onclick="seemoreKeyword()" style="cursor: pointer;">See mor e</p>
                {% endif %}

                <div id="morekeyword" style="display:none;">
                {% for keyword in keyword_results %}

                <a href="/search/{{searched}}/{{keyword}}" style = "color:black"><div class="default" style="background-color: none; color:black; box-shadow: none !important;" >{{keyword}}</a></div>

                {% endfor %}
                </div>

                <h5 style="margin-top: 20px;">Year</h5>

                {% for result in results|slice:"5" %}
                
                <a href="/search/{{searched}}/{{result.year}}" style = "color:black" id="link-{{ forloop.counter }}-year"><div class="default" style="background-color: none; color:black; box-shadow: none !important;" id="year-{{forloop.counter}}">{{result.year}}</a></div>
                
                {% endfor %}

                {% if results.count > 5 %}
                <p id="seemore-year" onclick="seemoreYear()" style="cursor: pointer;">See more</p>
                {% endif %}

                <div id="moreyear" style="display:none;">
                {% for result in results %}
                
                <a href="/search/{{searched}}/{{result.year}}" style = "color:black" ><div class="default" style="background-color: none; color:black; box-shadow: none !important;" >{{result.year}}</a></div>
                
                {% endfor %}
                </div>
                
                <script>
                    function seemoreYear() {
                      document.getElementById("seemore-year").style.display = "none";
                      document.getElementById("link-1-year").style.display = "none";
                      document.getElementById("link-2-year").style.display = "none";
                      document.getElementById("link-3-year").style.display = "none";
                      document.getElementById("link-4-year").style.display = "none";
                      document.getElementById("link-5-year").style.display = "none";
                      document.getElementById("year-1").style.display = "none";
                      document.getElementById("year-2").style.display = "none";
                      document.getElementById("year-3").style.display = "none";
                      document.getElementById("year-4").style.display = "none";
                      document.getElementById("year-5").style.display = "none";
                      document.getElementById("moreyear").style.display = "block";
                    }
                </script>

                <script>
                    function seemoreKeyword() {
                    document.getElementById("seemore-keyword").style.display = "none";
                    document.getElementById("link-1-keyword").style.display = "none";
                    document.getElementById("link-2-keyword").style.display = "none";
                    document.getElementById("link-3-keyword").style.display = "none";
                    document.getElementById("link-4-keyword").style.display = "none";
                    document.getElementById("link-5-keyword").style.display = "none";
                    document.getElementById("keyword-1").style.display = "none";
                    document.getElementById("keyword-2").style.display = "none";
                    document.getElementById("keyword-3").style.display = "none";
                    document.getElementById("keyword-4").style.display = "none";
                    document.getElementById("keyword-5").style.display = "none";
                    document.getElementById("morekeyword").style.display = "block";
                    }
                </script>

            </div>
            <!-- Results table-->
            <div class="col-10">
                <div class="container">
                    <div class="table-responsive" style="min-height: 100vh;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author/s</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">Source</th>
                                    <th scope="col">URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in results %}
                                <tr>
                                    <td scope="row" style="border-bottom: none;"><a href="/publication/{{result.id}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">{{result.title}}</div></a></td>
                                    <td style="border-bottom: none;">{{result.author}}</td>
                                    <!-- <td style="max-width:500px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{result.abstract}}</td> -->
                                    <td style="border-bottom: none;">{{result.year}}</td>
                                    <td style="border-bottom: none;">{{result.source}}</td>
    
                                    {% if result.url != 'uploaded' %}
                                    <td id="url" style="border-bottom: none;"><a href="{{result.url}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">{{result.url}}</div></a></td>
                                    {% else %}
                                    <td id="url" style="border-bottom: none;"><a href="/media/{{result.pdf}}" style="text-decoration: none;"><div class="link" style="text-decoration: none !important; background-color: none; color:black; box-shadow: none !important;">View PDF</div></a></td>
                                    {% endif %}
                                </tr>
                                <tr id="abstract-{{result.id}}" style="display: none;">
                                    <td colspan="5" id="action-buttons-{{result.id}}" style="border-bottom-width: 1px;">{{result.abstract}}</td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <ul class="list-inline">
                                            {% if result.abstract != "" %}
                                                <li class="list-inline-item">
                                                    <Button type="button" class="btn btn-primary btn-sm" style="margin-top:5px;" onclick="toggleAbstract('{{result.id}}')">View Abstract</Button>
                                                </li>
                                            {% endif %}
                                            <li class="list-inline-item">
                                                {% for bookmark in bookmarks %}
                                                    {% if result.id == bookmark.publicationID %}
                                                        {% for bookmark_id in my_bookmarks_id %}
                                                        <form method="POST" action="/publication/{{result.id}}/bookmark">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="publicationid" value="{{ result.id }}"/>
                                                            <input type="hidden" name="next" value="{{ request.path }}"/>
                                                            <input type="hidden" name="folder_id" value="{{bookmark_id.id}}"/>
                                                            <input type="hidden" name="bookmark_action" value="delete">
                                                            <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete" id="bookmark-delete-in-search-table-{{result.id}}" style="display: inline;">Delete from Bookmarks<i class="fa fa-bookmark" aria-hidden="true" style="margin-left: 5px;"></i></button>
                                                        </form>
                                                        {% endfor %}
                                                    {% elif forloop.last %}
                                                        {% for bookmark_id in my_bookmarks_id %}
                                                        <form method="POST" action="/publication/{{result.id}}/bookmark"></form>
                                                            {% csrf_token %}
                                                            <input type="hidden" name="publicationid" value="{{ result.id }}"/>
                                                            <input type="hidden" name="next" value="{{ request.path }}"/>
                                                            <input type="hidden" name="folder_id" value="{{bookmark_id.id}}"/>
                                                            <input type="hidden" name="bookmark_action" value="add">
                                                            <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add" id="bookmark-add-in-search-table-{{result.id}}" style="display: inline;" >Add to Bookmarks<i class="fa fa-bookmark-o" aria-hidden="true" style="margin-left: 5px;"></i></button>
                                                        </form>
                                                        {% endfor %}
                                                        
                                                        <script>
                                                            var found = document.getElementById("bookmark-delete-in-search-table-"+"{{result.id}}");
                                                            var addDiv = document.getElementById("bookmark-add-in-search-table-"+"{{result.id}}");
                            
                                                            if (found == null){
                                                                addDiv.style.display = "inline";
                                                            }
                                                            else {
                                                                addDiv.style.display = "none";
                                                            }
                                                        </script>                                                    
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                            <li class="list-inline-item">
                                                <button type="button" class="btn btn-primary btn-sm" style="margin-top:5px;" data-toggle="modal" data-target="#mymodal">Add to folder</Button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                                <form method="POST" action="/publication/{{result.id}}/bookmark" id="bookmark-pub"> 
                                    {% csrf_token %}
                                    <input type="hidden" name="publicationid" value="{{ result.id }}"/>
                                    <div class="modal fade bd-example-modal-lg" id="mymodal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Choose folder to add bookmark</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-2 mb-1">
                                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#newFolder" aria-expanded="false" aria-controls="newFolder"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                                      </svg> Folder </button>
                                                      <br>
                                                </div>
                                
                                                <div class="collapse mb-1" id="newFolder">
                                                    <div class="card card-body">
                                
                                                            {% csrf_token %}
                                                            <input type="hidden" name="next" value="{{ request.path }}"/>
                                                            <input type="hidden" name="newFolder" value="newFolder">
                                                            <div class="form-group">
                                                                <label for="folder-name" class="col-form-label">Folder name:</label>
                                                                <input type="text" class="form-control" name="folder-name">
                                                            </div>                            
                                                        <div class="modal-footer float-end">
                                                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#newFolder">Close</button>
                                                            <button type="submit" class="btn btn-primary btn-sm" name="create-folder">Create folder</button>
                                                        </div>
                                                    </div>
                                                </div>
                                    </form>
                                
                                
                                                <!--
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg" viewBox="0 2 14 14">
                                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                                                      </svg>
                                                -->
                                                
                                                <div class="container">
                                                    {% for x in in_bookmark %}
                                                    <form method="POST" action="/publication/{{result.id}}/bookmark">
                                                        {% csrf_token %}
                                                    <input type="hidden" name="publicationid" value="{{ result.id }}"/>
                                                    <input type="hidden" name="next" value="{{ request.path }}"/>
                                                    <input type="hidden" name="folder_id" value="{{x.id}}"/>
                                                    <input type="hidden" name="bookmark_action" value="delete">
                                                    <div class="row align-items-center mb-2">
                                                        <div name="{{x.id}}" class="col-2 d-flex">{{x.folder_name}}</div>
                                                        <div class="col-2 d-flex">
                                                        <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">x</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <span class="border-bottom-0"></span>
                                                    </div>
                                                    </form>
                                                    {% endfor %}
                                                    
                                                    {% for y in not_bookmark %}
                                                    {% if not forloop.first and forloop.counter != 2 %}
                                                    <form method="POST" action="/publication/{{result.id}}/bookmark">
                                                        {% csrf_token %}
                                                    <input type="hidden" name="publicationid" value="{{ result.id }}"/>
                                                    <input type="hidden" name="next" value="{{ request.path }}"/>
                                                    <input type="hidden" name="folder_id" value="{{y.id}}"/>
                                                    <input type="hidden" name="bookmark_action" value="add">
                                                    <div class="row align-items-center mb-2">
                                                        <div name="{{y.id}}" class="col-2 d-flex">{{y.folder_name}}</div>
                                                        <div class="col-2 d-flex">
                                                        <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">+</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <span class="border-bottom-0"></span>
                                                    </div>
                                                    </form>
                                                    {% endif %}
                                                    {% endfor %}
                                
                                                    {% for a in inshared%}
                                                    <form method="POST" action="/publication/{{result.id}}/bookmark">
                                                        {% csrf_token %}
                                                    <input type="hidden" name="publicationid" value="{{ result.id }}"/>
                                                    <input type="hidden" name="next" value="{{ request.path }}"/>
                                                    <input type="hidden" name="folder_id" value="{{a.id}}"/>
                                                    <input type="hidden" name="bookmark_action" value="sharedDelete">
                                                    <div class="row align-items-center mb-2">
                                                        <div name="{{a.id}}" class="col-2 d-flex">{{a.folder_name}}</div>
                                                        <div class="col-2 d-flex">
                                                        <button type="submit" class="btn btn-outline-danger btn-sm" name="bookmark-delete">x</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <span class="border-bottom-0"></span>
                                                    </div>
                                                    </form>
                                                    {% endfor %}
                                    
                                                    {% for b in notinshared%}
                                                    <form method="POST" action="/publication/{{result.id}}/bookmark">
                                                        {% csrf_token %}
                                                    <input type="hidden" name="publicationid" value="{{ result.id }}"/>
                                                    <input type="hidden" name="next" value="{{ request.path }}"/>
                                                    <input type="hidden" name="folder_id" value="{{b.id}}"/>
                                                    <input type="hidden" name="bookmark_action" value="sharedAdd">
                                                    <div class="row align-items-center mb-2">
                                                        <div name="{{b.id}}" class="col-2 d-flex">{{b.folder_name}}</div>
                                                        <div class="col-2 d-flex">
                                                        <button type="submit" class="btn btn-outline-success btn-sm" name="bookmark-add">+</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <span class="border-bottom-0"></span>
                                                    </div>
                                                    </form>
                                                    {% endfor %}
                                                </div>
                                                
                                            </div>
                                
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                            </div>
                                
                                          </div>
                                        </div>
                                    </div>


                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end Results Table -->
        </div>
    </div>

    


    {% endif %}
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Brand 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static '\users\js\search.js' %}"></script>
</body>

</html>
{% endif %}