<div class="container-fluid" style="background: #efefef; padding: 10px;">
    <br><br>
    <div class="row">
        <div class="col">
            <h5 style="display: inline;">{{folder.folder_name}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive" style="min-height: 80vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author/s</th>
                            <th>Abstract</th>
                            <th>Source</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if sharedbookmarks %}
                            {% for x in sharedpubs %}
                                {% for y in sharedbookmarks %}
                                    {% if folder.id == y.folderID and y.publicationID == x.id %}
                                        <tr>
                                            <td><a href="/folders/{{request.session.username}}/{{folder.id}}/publication/{{x.id}}">{{x.title}}</a></td>
                                            <td>{{x.author}}</td>
                                            <td style="max-width:500px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{x.abstract}}</td>
                                            <td>{{x.source}}</td>
                                            <td id="url">{{x.url}}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>