<!doctype html>
<html lang="en">
{% if request.session.is_superuser == 1 %}
<head>
{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '\users\assets\bootstrap\css\bootstrap.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '\users\assets\css\index.css' %}">
<link rel="stylesheet" href="{% static '\users\assets\css\Pretty-Search-Form.css' %}">
<link rel="stylesheet" href="{% static '\users\css\home.css' %}">
<title>Admin CMS</title>


</head>
<body>

{% include 'main/nav-bar.html' %}
<div class="container" style="align-content: center;">
    <div class="card" style="margin-top: 100px">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'pushExcel' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fileUpload">Upload file</label>
                    <input type="file" class="form-control-file" id="fileUpload" name="my_file"/>
                    <a href="Upload-Extract-Template.xlsx" target="_blank"><button type="button">Download Template</button></a>
                    <button type="submit" class="btn btn-primary" style="margin-top: 50px">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static '\users\js\home.js' %}"></script>
</body>
{% endif %}
</html>